<!DOCTYPE html>
<html>
<head>
  <title><%=harley.model%></title>
</head>
<body>
  <h1><%=harley.model%></h1><br>
  <h2>Engine: <%=harley.engine%></h2><br>
  <h2>Torque: <%=harley.torque%> ft/lbs</h2><br>
  <h2>Weight: <%=harley.weight%> lbs</h2><br>



  <a href="/">Home</a>


</body>
</html>